.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary{
    color: #FD6E0A;
}

.text-secondary{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}

.secondary-bg{
    background-color: #FFF8F3;
}

.dark-02{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color:white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color:#757575;
}

.text-center{
    text-align: center;
}

/* Header Style */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul a{
    text-decoration: none;
}

/* Banner Style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content{
    max-width: 585px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-head{
    font-size: 85px;
    font-weight: 800;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align:center;
    /* margin: 130px; */

}

.about-items{
    display: flex;
    justify-content: space-around;
    
}

.item-title{
    font-size: 15px;
    color: #757575;
}

.item-description{
    font-weight: bold;
    font-size: 15px;
    color: #474747;
}

/* skills styles */

.skills>p{
    margin: 30px 115px;
}

.skills-container{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description{
    line-height: 25px;
}

/* resume styles */

.resume-container{
    display: flex;
    gap: 20px;
}

.resume-column h3{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience-title{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color:#474747 ;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color:#757575;
}

.experience-description{
    margin: 20px 47px 30px 0;
    font-size: 16px;
    color: #757575;
}
